.CoursePage {
    padding: 0 50px 50px;

    &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}
