.CourseCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 400px;
    padding: 10px;
    // background-color: #7FDBFF;
    border-radius: 10px;
    border: 5px solid #7FDBFF;
    transition: border-color, 0.3s;

    &:hover {
        border-color: #39CCCC;
    };

    &__image {
        width: 150px;
    }
}